@font-face {
    font-family: test;
    src: url(fonts/SpaceGrotesk-Regular.ttf);
}

@font-face {
    font-family: test1;
    src: url(fonts/SpaceGrotesk-Bold.ttf);
}
@font-face {
    font-family: test2;
    src: url(fonts/SpaceGrotesk-Light.ttf);
}
@font-face {
    font-family: test3;
    src: url(fonts/SpaceGrotesk-Medium.ttf);
}
@font-face {
    font-family: test4;
    src: url(fonts/SpaceGrotesk-VariableFont_wght.ttf);
}


.attribution { 
    width:80vw;
    font-size: 11px;
    text-align: center;
    position:absolute; 
    bottom:0px;
    left:50%;
    transform: translateX(-50%);
}
.attribution a { color: hsl(228, 45%, 44%); }
*{margin: 0; padding: 0;}

body{
    overflow: hidden;
    font-family: test;
}

main{
    width:100vw;
    height:100vh;
    display: flex;
}


.left-part{
    width:33.5vw;
    height: 100vh;
}
.right-part{
    width:66.5vw;
    height:100vh;
}
.background{
    width:inherit;
    height: inherit;
}

.card-front, .card-back{
    
    width:27em;
    height:100%;
}

.containeur-card{
    
    height: 60vh;
    position: absolute;
    top:50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
   

}



.containeur-card-front{
    position: relative;
    right:20%;
    transform: translateY(-6%);
    
}

.containeur-card-back{
    
    position: relative;
    transform: translateY(6%);
}


.texte-card-front{
    position: absolute;
    height: 45%;
    width:100%;
    left:0%;
    top:55%;
    color: rgb(255, 255, 255);
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    
}

.texte-card-back{
    color: white;
    position: absolute;
    left: 85%;
    top:50%;
    transform: translate(-50%,-50%);
}


.card-front-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
}
.card-front-num{
    font-size: 1.5em;
    margin-left: 1rem;
    margin-right: 1rem;

}












.grosRond{
    position: absolute;
    width:2em;
    height:2em;
    background-color: white;
    border-radius: 100%;
    transform: translate(1.5em,1.5em);
}

.petitRond{
    position: absolute;
    width:.9em;
    height:.9em;
    border: solid thin white;
    border-radius: 100%;
    transform: translate(4.5em,2em);
}



.cacher{
    display: none;
}


.formulaire{
    position: absolute;
    top:50%;
    right:0;
    margin-right: 15%;
    transform: translate(0,-60%);
    max-width:22vmax;
    height:45%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    
    animation: apparition 0.7s ease-out;
}
@keyframes apparition {
    from{
        opacity: 0;
        transform: translateY(-100%);
    }
    to{
        opacity:1;
        transform: translateY(-60%);
    }
}

.formulaire form {
    height:70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.formulaire > form  div > input{
    height: 2.4em;
    border-radius: .5em;
    border: 2px rgba(187, 187, 187, 0.747) solid;
    
}
.formulaire > form  div > input::placeholder{
    color:rgba(187, 187, 187, 0.603);
    padding-left: 6px;
}




.formulaire form label{
    font-family: test3;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: .7em;
    width: 100%;
    position: relative;
    bottom: 4px;
}


.form-date{display: flex;justify-content: center;}
.form-date > div{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}
.form-date > div > div {
    width:45%;
    font-size:1em;
}
.form-date > div:nth-child(2) > div {
    width:100%;
    font-size:1em;
}
.form-date > div:nth-child(1) > div{
    width:35%;
    font-size:1em;
    margin-right: 15px;
}
.form-date > div input {
    width:100%;
    font-size:1em;
}
.form-name > input, .form-num > input {
    width:100%;
    height:40%;
    font-size:1em;
    
}

.boutton-form{
    position: absolute;
    width: 100%;
    top:90%;
    height:2.8em;
    border-radius: .6em;
    background-color: hsl(278, 68%, 11%);
    color: white;
}
button:active{
    
    background-color: hsl(278, 65%, 21%);
    box-shadow: inset 4px 4px 0.5em rgba(255, 255, 255, 0.307);
    color: white;
    transform: translate(0%,2%);
}
.formulaire input:invalid {
   
}

.message-cacher-num{
    display: none;
    color: red;
    font-size: 70% ;
}
.message-cacher-name{
    display: none;
    color: red;
    font-size: 70% ;
}

.message-cacher-mois{
    display: none;
    color: red;
    font-size: 60% ;
}
.message-cacher-annee{
    display: none;
    color: red;
    font-size: 58% ;
}
.message-cacher-codesecret{
    display: none;
    color: red;
    font-size: 70% ;
}

.partiDeux{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right:0;
    min-width:20vmax;
    min-height: 15vmax;
    margin-right: 10%;
}
.partiDeux > *{
    margin-top: 10px;
}


.rond{
    position: relative;
    top: 0%;
    
    
    width:70px;
    height:70px;
    border-radius: 100%;
    background: linear-gradient(hsl(249, 99%, 64%) to hsl(278, 94%, 30%));
}
.rond img{
    width: inherit;
}

.partiDeux > button{
    position: relative;
    bottom:0;
    width: 100%;
    height: 3em;
    background-color: hsl(278, 68%, 11%);
    color: white;
    border-radius: .8em;
}
.partiDeux > button:active{
    background-color: hsl(278, 65%, 21%);
    box-shadow: inset 4px 4px 0.5em rgba(255, 255, 255, 0.307);
    color: white;
    transform: translate(0%,2%);
}
@media screen and (max-width: 1200px) {
    .card-front, .card-back{
    
        width:22em;
        height:100%;
    }
    .formulaire{
        max-width:28vmax;
        margin-right: 10%;
    }
}
@media screen and (max-width: 850px) {
    .card-front, .card-back{
    
        width:17em;
        height:100%;
        
    }
    .card-front-num p{
        font-size: 90%;
    }
    .form-date > div:nth-child(1) > label{
        font-size: 80%;
    }
    .formulaire{
        max-width:32vmax;
        margin-right: 5%;
    }
}

@media screen and (max-width: 700px) {
    main{
        flex-direction: column;
    }

    .left-part{
        position: relative;
        width: 100vw;
        height:35vh;
    }
    .right-part{
        position: relative;
        width: 100vw;
        height:65vh;
    }
    .visible{
        
        flex-direction: column;
        
    }
    .formulaire{
        position:none   ;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        margin:0 ;
        max-width: none;
        width:90%;
        height:70%;
        
        
        display: flex;
        justify-content: space-around;
        flex-direction: column;
      
        
        
        
    }
    .formulaire form {
        margin-top: 2%;
        height:60%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 90%;
    }
    @keyframes apparition {
        from{
            opacity: 0;
            transform: translate(-50%,-100%);
        }
        to{
            opacity:1;
            transform: translateY(-50%,-60%);
        }
    }

    .card-front, .card-back{
    
        width:70vmin;
        height:100%;
    }
    
    .containeur-card{
        
        height: 100%;
        width:100%;
        position: absolute;
        top:0%;
        transform: translate(0%,-100%);
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
       
    
    }
    
    
    
    .containeur-card-front{
        position: absolute;
        transform: translate(40%,55%);
        right:50%;
        top:50%;
        
    }
    
    .containeur-card-back{
        position: absolute;
        transform: translate(-40%,0%);
        left:50%;
        top:50%;
       
        z-index: -1;
    }
    .texte-card-front{
        font-size: .8em;
    }
    .partiDeux{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top:60%;
        transform: translate(-50%,-50%);
        left:50%;
        min-width:80vw;
        min-height: 15vh;
        margin:0;
    }

    
}
@media screen and (max-width: 550px) {
    .card-front, .card-back{
    
        width:75vw;
        height:100%;
    }
}
@media screen and (max-height: 570px){
    .formulaire{
        position:none   ;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        margin:0 ;
        max-width: none;
        width:90%;
        height:80%;
        
        
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        
    }
    .formulaire form {
        margin-top: 2%;
        height:80%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 90%;
    }
    .attribution{
        font-size: 50%;
        width: 95%;
    }

    
}

